<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=us-ascii'>
    <title>Cool Article</title>
  </head>
  <body style="font-family:calibri;font-size:20px">
    <p>Dear {{ Friendname }},</p>
    <p>Here is a great article I found and really liked that I thought you might enjoy.
        <br> {{ article_url }}</p>
    <p>Your friend,<br>{{ SenderName }}</p>
    <div style='text-align:center; font-family:calibri;font-size:14px'>
        <p>
            This Message was developed and delivered by NewsFed
        </p>
    </div>
  </body>
</html>
